html {
  height: 100%;
}

body {
  background: #6c6c6c;
  height: 100%;
}

/* special */

.hidden {
  display: none;
}

.clear {
  clear:both;
}

/* layout */

div#container {
  background: #ffffff;
  min-width: 1000px;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100%;
}

#left_dark {
  position:fixed;
  width: 160px;
  background: #36332e;
  height: 100%;
}

#left_light {
  position:fixed;
  margin-left:180px;
  width: 150px;
  height: 100%;
}

a#logo {
  display: block;
  height:160px;
  background: url('../images/morsbox2.png') center center no-repeat;
}

a#logo:hover, a#logo.selected {
  background: url('../images/morsbox1.png') center center no-repeat;
}

#left_dark ul, #left_light ul {
  margin: 0 0 30px 0;
  padding:0;
  list-style-type: none;
}

li.separated {
  padding-top:30px;
}

#left_dark li {
  text-align:center;
}

#left_dark li a {
  color: #fefefe;
  text-decoration: none;
}

#left_dark li.selected a {
  color: #bfbfbf;
}

#left_dark li a:hover {
  color: #EC2127;
}

#left_light ul {
  margin-top: 160px;
}

#left_light li a {
  color: #000000;
  text-decoration: none;
}

#left_light li.selected a {
  color: #ababab;
  text-decoration: underline;
}

#left_light li a:hover {
  color: #EC2127;
}

#content {
  padding: 44px 10px 0 10px;
}

#content.narrow {
  margin-left: 340px;
}

#content.wide {
  margin-left: 170px;
}

#content .image_container{
  margin-bottom:17px;
}

#content .description_container{
  min-width: 640px;
  margin:0 70px 30px 0;
}

#content.home {
  min-height: 750px;
  background: url('/images/mors_glass.jpg') 80% 347px no-repeat;
}

/* elements */
.notice, .alert {
  position: absolute;
  right: 0;
  width: 400px;
}

p.column {
  float:left;
  width:30%;
  padding-right:2%;
}

p.column textarea, p.column input {
  width:100%;
}

p.narrow textarea {
  width:90%;
  height:80px;
}

a.dialog_open {
  cursor: pointer;
}

a.facebook_btn, a.twitter_btn {
  display:block;
  float:left;
  height: 32px;
  width: 32px;
  margin-right:8px;
}

a.facebook_btn {
  background: url('/images/mors_contact_fb_1.png');
}

a.facebook_btn:hover {
  background: url('/images/mors_contact_fb_2.png');
}

a.twitter_btn {
  background: url('/images/mors_contact_tw_1.png');
}

a.twitter_btn:hover {
  background: url('/images/mors_contact_tw_2.png');
}

form.contact_new {
  margin-top:15px;
}

/* admin */
span.show_order {
  color:#333;
  font-weight: bold;
  padding: 2px;
}