= render "sections/projects_menu"
#content.narrow
  - @project.descriptions.enabled.each do |description|
    - if description.image_file_name
      .image_container= image_tag description.image.url
    - unless description.text.is_a? R18n::Untranslated
      .description_container!= description.text